*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  background-color: #222831;
}
/*.container-fluid{
  border: 3px solid #f96d00;
}*/
.navbar-main{
  padding: 1rem;
  background-color: #393e46;
  position: sticky; 
}
.navbar{
  position: sticky;
  text-decoration:  none;
}
.navbar-brand{
  color: #f96d00;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #f96d00;
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: white;
 }

 .navbar-nav{
  color: #f2f2f2;
  padding: 0px 3px 0px 4px;
 }

 .nav-item{
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: bold;
/*  margin-left: 2px;*/
/*  text-decoration: none;*/
/*position: sticky;*/
 }
 .navbar-nav a:hover {
  background-color: #f96d00;
  text-decoration: none;
  border-radius: 2rem;
  color: inherit;
}

 .profile-image{
  width: 20rem;
  height: 10rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  float:right;
  margin-bottom: 3rem;
  margin-right: 2rem;
 }

 @media only screen and (max-width: 600px){
  .profile-image{
  width: 20rem;
  height: auto;
/*  align-content:right;*/
float: right;
 }
}


 .name{
   padding: 140px 0px 0px 0px;
 }
 @media only screen and (max-width: 600px){
  .name{
   padding: 20px 0px 0px 0px;
   text-align:  center ;
 }
}

 h2, h5{
  color: #f2f2f2;
 }
 .myname{
  color: #f96d00;
  border-bottom: 5px solid #393e46;
  display: inline-block;  
 }

.aboutme-title, .projects-title, .messagetitle{
  color:  #f2f2f2;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bolde;
  text-transform: uppercase;
}

.aboutme-title span{
  color: #f96d00;
}

.projects-title span{
  color: #f96d00;
}
.messagetitle span{
  color: #f96d00;
}

.aboutme-div{
  border-top: 3px solid #393e46;
/*  margin-bottom: 3rem;*/
/*  border: 3px solid #393e46;*/

}


/*.aboutmefirstdiv{
  padding: ;
}*/

.card-aboutme{
  /*padding: 1rem;
  border: none;
  width: 40rem;*/
  color: #393e46;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
/*  background-color: rgba(0,0,0,0.2);*/
  transition: 0.3s;
}
.card-aboutme{ 
  color:  #5f685a;
  font-weight: bold;
}

/*.card-text{
  color:  #5f685a;
  font-weight: bold;
}*/
.card-text span{
  color:  #f2f2f2;
}

.projectsmain, .div-form{
  border-top: 3px solid #393e46;
/*  background-color: ;*/
}
.project-text{
color: #f2f2f2;
}
.card-header{
  color: #f96d00;
  font-weight: bold;
}
.card-proj{
/*  width: 18rem;*/
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 3rem;
}
.card-img-top{
  height: 20rem;
}

.form-group{
  color: white;
}

.form-body{
  background-color: #393e46;;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
/*iframe{
  width="60";0
  height="450" frameborder="0" style="border:0
}*/
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contactme{
  color: #f96d00;
  font-weight: bold;
  text-transform: uppercase;
}
.foot{
  border-top: 3px solid #393e46;
/*  margin-top: 3rem;*/
}

.socialmedia{
  color: #f2f2f2;
  font-weight: bold;
}

